* {
    margin: 0;
    padding: 0;
}
/* Google font */
@font-face {
    font-family: 'bebas-neue';
    src: url("../font/BebasNeue-Regular.ttf");
    font-style: normal;
    font-weight: 100;
}
/* navigation */

.brand-text {
    font-size: 50px;
    font-family: 'bebas-neue', 'gobold';
    padding: 5px 24px;
    margin-bottom: 0;
}

.tag-text {
    font-size: 12px;
    font-weight: bold;
    color: white;
    padding: 5px 24px;
    position: relative;
    bottom: 20px;
}

a {
    color: white;
}

ul.position li {
    font: 24px 'bebas-neue', 'gobold';
}


div ul.links li {
    padding: 0px;
}

.navbar-brand {
    margin-bottom: 0;
}

.index1 li a:hover {
    color: white;
}

/* toggler */
.navbar-togler-icon {
    background-color: white;
}

/* index */
.index {
    margin-right: 90px;
}

.index1 .nav-item {
    padding: 40px;
}

/* index page background video */
.fullscreen-bg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
}

.fullscreen-bg__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
/* media query for the home video background */
@media (min-aspect-ratio: 16/9) {
    .fullscreen-bg__video {
        height: 300%;
        top: -100%;
    }
}

@media (max-aspect-ratio: 16/9) {
    .fullscreen-bg__video {
        width: 300%;
        left: -100%;
    }
}

@media (max-width: 767px) {
    .fullscreen-bg {
        background: url('../img/videoframe.jpg') center center / cover no-repeat;
    }

}


/* gallery */
.gcontent{
    margin-top: 160px;
}

/* whyme */
.wcontent{
    margin-top: 160px;
}

/* contact */
.cContent{
    margin-top: 160px;
}

form{
    margin-top: 80px;
}

.myComment{
    margin-top: 20px;
}

h1{
    font-family: 'bebas-neue';
    font-size: 50px;
}

.myComment div p{
    font-family: sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 15px;
    letter-spacing: .01em;
    line-height: 2em;
    text-transform: none;
    color: #222;
}

input{
    background-color: #fafafa;
    border-radius: 0;
}

.myBtn{
    border: 1px solid black;
    border-radius: 0;
    text-transform: uppercase;
    padding: 10px 25px;
    width: 120px;
}

.myBtn:hover{
    background-color: black;
    color: white;
}

.message{
    border: 0.5px lightgray solid;
    border-radius: 20px;
}

/* blog */
.category{
    text-align: center;
}

small{
    text-transform: uppercase;
}

.topic{
    margin-top: 20px;
    background-image: linear-gradient(to right, white, gray);
}

/* media query */
@media only screen and (max-width: 760px) {

    * {
        padding: 0;
        margin: 0;
    }

    .brand-text {
        color: black;
        font-size: 20px;
    }

    .navbar-trans {
        background-color: white;
        opacity: 1;
    }

    .position {
        justify-content: left;
    }

    .index1 .nav-item {
        padding: 0;
    }

    a {
        color: black;
    }

    ul.index1 li {
        margin-right: 300px;
    }

    ul.index1 {
        padding-bottom: 500px;
    }

}

.center-message{
    text-align: center;
}

.filler{
    padding-bottom: 4px;
    padding-top: 4px;    
}

.gallery{
    padding-bottom: 50px;
}