@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

nav{
    font-family: Bebas Neue;
    font-size: 1.4rem;
    color: black;
}

.nav-name{
    color: #222;
    font-size: 3.8rem;
}

.nav-job{
    color: #222;    
}

.nav-item a{
    text-decoration: none;
    letter-spacing: 1.5px;
    color: #222;
}

.header{
    display: flex;
    flex-direction: column;    
}

.header .nav-job{
    letter-spacing: 2px;
}

.gallery img{
    max-width:100%;
    height:auto;
}