@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:wght@300&display=swap');


.home-page{
    background-image: url("https://images.pexels.com/photos/408518/pexels-photo-408518.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    background-size: cover;
    background-repeat: no-repeat;    
}

nav{
    font-family: Bebas Neue;
    font-size: 1.4rem;
    color: black;
}


.hamburger{
    font-size: 2rem;
}

.nav-name{
    color: #222;
    font-size: 3.8rem;
}

.nav-job{
    color: #222;    
}

.nav-item a{
    text-decoration: none;
    letter-spacing: 1.5px;
    color: #222;
}

.header{
    display: flex;
    flex-direction: column;    
}

.header a:hover{
    color: black;
    text-decoration: none;
}

.index-header a:hover{
    color: white;
    text-decoration: none;
}

.header .nav-job{
    letter-spacing: 2px;
}

.index-link{
    color: white;
}

.index-link a{
    color: white;
}

.gallery img{
    max-width:100%;
    height:auto;
    filter: brightness(70%);
}


.fullscreen-bg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
}

/* decrease the font size of header when collapsing */
@media only screen and (max-width: 850px) {    
    nav{
        background: white;
    }
    .nav-name{
        color: #222;
        font-size: 1.5rem;
    }

    .index-link{
        color: black;
    }
    
    .index-link a{
        color: black;
    }    
    .nav-job{
        visibility: hidden;    
    } 

    .contact-intro{
        margin-top: 5rem;
    }
  }

